/* Common Styles */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: 'Reem Kufi Fun', sans-serif;
}
.page{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}
.bg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* object-position: 0% 33%; */
}
.bg-1{
    position: relative;
    z-index: 0;
    object-position: 0% -700px;
}
.bg-2{
    position: absolute;
    bottom: 0; left: 0;
    z-index: 10;
    object-position: 0% -100px;
}
.bg-3{
    object-fit: cover;
    position: absolute;
    bottom: 0; left: 0;
    z-index: 20;
    object-position: 0% 450px;
    object-fit: contain;
}
.text{
    z-index: 5;
    font-size: 200px;
    position: absolute;
    top: 25%;
    width: 100vw; text-align: center;
    color: #ffd497;
    letter-spacing: 60px;
}